  
  <div class="jumbotron">
  <div class="col-md-10 col-md-offset-1">
          <div class="well">
              <table class="table table-bordered">
                  <thead>
                      <tr class="success">
                              <td colspan="2" id="welcome">
                                  <h1>Conditions générale d'utilisation</h1>  
                                   </td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>      <p>

                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur accumsan vehicula. Vivamus non accumsan augue. Etiam vel faucibus lorem. Nunc facilisis lacus a massa condimentum rutrum. Sed non libero vitae erat eleifend malesuada at vel quam. Pellentesque porta pharetra mi. Praesent tincidunt justo sit amet enim auctor finibus ac quis erat. Etiam mauris justo, porta at eleifend at, pretium vel lacus. Etiam varius elit ac mauris rhoncus pellentesque. Nullam id velit ac leo pharetra molestie. Fusce semper neque et odio vulputate tristique.
                
                Vestibulum scelerisque condimentum risus at rhoncus. Sed auctor faucibus varius. Vestibulum nisi ex, ultricies sed efficitur vitae, sollicitudin sit amet ex. Aenean lacus nulla, volutpat ac porttitor eu, consectetur a dui. Sed quis odio convallis, euismod risus sit amet, euismod mauris. Nulla commodo, ligula eget auctor vehicula, eros eros facilisis mauris, sit amet posuere nulla lorem ac eros. Curabitur viverra justo at odio pharetra sagittis. In ultricies, dui et facilisis mollis, enim ligula vehicula justo, nec lacinia elit nibh venenatis tortor. Fusce id luctus massa. Praesent a arcu tristique neque tincidunt ultrices. Vivamus porttitor vel tortor sit amet posuere.
                
                Phasellus auctor pulvinar tortor, quis eleifend nibh lacinia at. Nulla consectetur nulla elit, sed egestas dolor vulputate eget. Etiam porta orci eu felis pretium ultrices. Vestibulum a bibendum tortor, nec sollicitudin leo. Aliquam erat volutpat. Proin viverra ante quis dolor commodo interdum. Ut sagittis nibh non ligula convallis, ac placerat nunc vehicula. Vestibulum vestibulum volutpat dolor. Vivamus sollicitudin metus eu ullamcorper sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui lacus. Nulla suscipit elementum leo, sagittis aliquam diam lacinia ut.
                
                Morbi eget rutrum erat, vitae pretium enim. Integer in blandit erat. Suspendisse imperdiet neque quis sem ultrices rutrum. Ut consectetur hendrerit odio, ut sodales dui. Nam suscipit felis sit amet placerat pretium. Quisque volutpat, sapien ac tempus tempus, nulla nisi malesuada ipsum, at hendrerit nisi tortor eu nibh. Nulla et aliquet odio, sit amet molestie nulla. Donec pulvinar erat a viverra placerat. Ut id quam porta, suscipit tortor sit amet, interdum neque. Quisque dignissim imperdiet libero. Donec sit amet eros quis tellus commodo finibus. Praesent eget elit at sem pretium tincidunt id nec purus. Praesent congue lorem sed lacus volutpat finibus.
                
                Quisque sit amet lectus sit amet mi dignissim accumsan. Aliquam dui nunc, tincidunt commodo venenatis non, feugiat et odio. Proin imperdiet, lorem quis finibus tincidunt, magna nisi scelerisque est, nec volutpat ligula odio id orci. Nunc maximus sem erat, a porta odio sollicitudin et. Proin eleifend quam sed sem accumsan, a aliquam lorem convallis. Donec dapibus dui eu elit tincidunt, non pretium metus convallis. Sed et consectetur ligula
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur accumsan vehicula. Vivamus non accumsan augue. Etiam vel faucibus lorem. Nunc facilisis lacus a massa condimentum rutrum. Sed non libero vitae erat eleifend malesuada at vel quam. Pellentesque porta pharetra mi. Praesent tincidunt justo sit amet enim auctor finibus ac quis erat. Etiam mauris justo, porta at eleifend at, pretium vel lacus. Etiam varius elit ac mauris rhoncus pellentesque. Nullam id velit ac leo pharetra molestie. Fusce semper neque et odio vulputate tristique.
                
                Vestibulum scelerisque condimentum risus at rhoncus. Sed auctor faucibus varius. Vestibulum nisi ex, ultricies sed efficitur vitae, sollicitudin sit amet ex. Aenean lacus nulla, volutpat ac porttitor eu, consectetur a dui. Sed quis odio convallis, euismod risus sit amet, euismod mauris. Nulla commodo, ligula eget auctor vehicula, eros eros facilisis mauris, sit amet posuere nulla lorem ac eros. Curabitur viverra justo at odio pharetra sagittis. In ultricies, dui et facilisis mollis, enim ligula vehicula justo, nec lacinia elit nibh venenatis tortor. Fusce id luctus massa. Praesent a arcu tristique neque tincidunt ultrices. Vivamus porttitor vel tortor sit amet posuere.
                
                Phasellus auctor pulvinar tortor, quis eleifend nibh lacinia at. Nulla consectetur nulla elit, sed egestas dolor vulputate eget. Etiam porta orci eu felis pretium ultrices. Vestibulum a bibendum tortor, nec sollicitudin leo. Aliquam erat volutpat. Proin viverra ante quis dolor commodo interdum. Ut sagittis nibh non ligula convallis, ac placerat nunc vehicula. Vestibulum vestibulum volutpat dolor. Vivamus sollicitudin metus eu ullamcorper sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dui lacus. Nulla suscipit elementum leo, sagittis aliquam diam lacinia ut.
                
                Morbi eget rutrum erat, vitae pretium enim. Integer in blandit erat. Suspendisse imperdiet neque quis sem ultrices rutrum. Ut consectetur hendrerit odio, ut sodales dui. Nam suscipit felis sit amet placerat pretium. Quisque volutpat, sapien ac tempus tempus, nulla nisi malesuada ipsum, at hendrerit nisi tortor eu nibh. Nulla et aliquet odio, sit amet molestie nulla. Donec pulvinar erat a viverra placerat. Ut id quam porta, suscipit tortor sit amet, interdum neque. Quisque dignissim imperdiet libero. Donec sit amet eros quis tellus commodo finibus. Praesent eget elit at sem pretium tincidunt id nec purus. Praesent congue lorem sed lacus volutpat finibus.
                
                Quisque sit amet lectus sit amet mi dignissim accumsan. Aliquam dui nunc, tincidunt commodo venenatis non, feugiat et odio. Proin imperdiet, lorem quis finibus tincidunt, magna nisi scelerisque est, nec volutpat ligula odio id orci. Nunc maximus sem erat, a porta odio sollicitudin et. Proin eleifend quam sed sem accumsan, a aliquam lorem convallis. Donec dapibus dui eu elit tincidunt, non pretium metus convallis. Sed et consectetur ligula</p>  </td>
                         
                      </tr>
                      
                      <tr class="success">
                          <td colspan="2">
                              <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/> Accepter les conditions d'utilisation

                                 
                          </td>
                      </tr>

                      
                      <tr class="success">
                          <td colspan="2">
                              
                                  <button class="btn btn-success" [disabled]="!marked" (click)="validate()">Validate</button>
                                  <button class="btn btn-danger" (click)="return()"type="button">return</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
             
               

          </div>
        </div>
           

    </div>